<app-carousel></app-carousel>
<div class="post-container container">
  <div [class.loading]="(loading$ | async)" id="shopping-list" *ngIf="!(error$ | async); else error">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action-post">
        <!-- <app-add-post></app-add-post> -->
        <form (ngSubmit)="addItem()">
          <div class="row">
            <div class="col">
              <input type="text" [(ngModel)]="newPostItem.title" name="title" class="form-control" placeholder="Title" />
            </div>
            <div class="col">
              <input type="text" [(ngModel)]="newPostItem.description" name="description" class="form-control" placeholder="Description">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-outline-secondary">Add Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row" *ngIf="(postItems$ | async); else noItems">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 card-box" *ngFor="let post of postItems$ | async">
        <div class="card">
          <img src="../../../assets/img/blog.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            <button (click)="deleteItem(post.id)" class="btn btn-danger">Delete</button>
            <button class="btn btn-secondary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>

<ng-template #noItems>
  <ul>
    <li style="max-width:250px;margin:0 auto;">No items found. Are you sure there's <em>nothing</em> you want?
    </li>
  </ul>
</ng-template>
