<app-carousel></app-carousel>
<div class="post-container"  [class.loading]="(loading$ | async)" *ngIf="!(error$ | async); else error">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action-post">
        <app-add-post></app-add-post>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" *ngIf="(posts | async); else noPosts">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 card-box" *ngFor="let post of posts | async">
        <div class="card">
          <img src="../../../assets/img/blog.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            <button (click)="onDeletePost(post.id)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noPosts>
      <p class="text-center">No items found. Are you sure there's <em>nothing</em> you want?</p>
    </ng-template>
  </div>
</div>

<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>

