<div class="container">
  <section class="section-image-text border border-top-0 border-right-0 border-left-0">
    <div class="section-image text-center">
      <img src="../../../assets/img/girl.png" alt="girl-image" width="275rem">
    </div>
    <div class="section-text text-center">
      <h1>Hi.</h1>
      <h2>I am Jane Doe</h2>
      <h2>I am a <span class="font-weight-bold">developer</span></h2>
    </div>
  </section>

  <section class="section-posts">
    <div class="section-heading text-center">
      <h3>Latest from Blog</h3>
    </div>
    <div class="post">
      <div class="date">
        <p>11 <span>May</span></p>
      </div>
      <div class="title">
        <h4>Saving Earth</h4>
      </div>
    </div>

    <div class="post">
      <div class="date">
        <p>11 <span>May</span></p>
      </div>
      <div class="title">
        <h4>Saving Earth</h4>
      </div>
    </div>
    <div class="section-button text-center">
      <a href="posts" class="btn btn-outline-dark" role="button" aria-pressed="true">See all posts</a>
    </div>
  </section>
</div>
